
*{
    margin: 0;
    font-family: system-ui, system-ui, sans-serif;
}

/* header-style */

.header{
    background:  url(../images/banner/banner2.png);
    background-size: cover;
    height: 600px;
    width: 100%;
}
.header-title{
    font-weight: 700;
    font-size: 48px;
    padding: 170px 100px 20px 0 ;
    text-align: right;
}
.header-content{
    padding:0 100px 0 0 ;
    text-align: right;
}
.header-button{
    background-color: chocolate;
    border: none;
    border-radius:5px ;
    font-size: 15px;
    color: aliceblue;
    position: absolute;
    padding: 10px;
    font-weight: 600;
    margin:20px 0 0 1050px;

}