
*{
    margin: 0;
    font-family: system-ui, system-ui, sans-serif;
}

/* header-style */

.header{
    background:  url(../images/banner/banner2-edited.png);
    background-size: cover;
    height: 600px;
    width: 100%;
}
.header-title{
    font-weight: 700;
    font-size: 48px;
    padding: 170px 0 20px 100px ;
}
.header-content{
    padding:0 0 0 100px ;
}
.header-button{
    background-color: chocolate;
    border: none;
    border-radius:2px ;
    font-size: 15px;
    color: aliceblue;
    position: absolute;
    padding: 10px;
    font-weight: 600;
    margin:20px 0 0 100px;
    



}